

.body-container {
    display: flex;
}

.parameters-left {
    width: 25%;
    height: 100px;
    background-color: rgb(153, 40, 40);
}

.content-right {
    width: 75%;
    height: 100px;
    background-color: rgb(72, 187, 196);;
}