<!--The content below is only a placeholder and can be replaced.-->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div>
  <app-tool-top></app-tool-top>
</div>
<mat-card class="container position-container">
    <div class="row">
      <div class="parameters-left col-12 col-md-4">
            <form>
                <mat-form-field>
                  <mat-select placeholder="Base Security" [(ngModel)]="selectedValue" name="food">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              
                <p> Symbol: {{selectedValue}} </p>
            </form>
            <br>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" placeholder="Choose a start date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="endpicker" placeholder="Choose a end date">
                <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #endpicker></mat-datepicker>
            </mat-form-field>

            <mat-divider></mat-divider>
            <br>
            <br>
            <!--*** --- Below is the correlation variable ---*** -->
            <form>
                <mat-form-field>
                  <mat-select placeholder="Base Security" [(ngModel)]="selectedValue" name="food">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              
                <p> Symbol: {{selectedValue}} </p>
            </form>


         
      </div>   <!-- parameters-left ending div -->
      <!-- ---*** --- Above is the initial base componenet that wil be replicated for correlator ---*** --- -->
      <div class="content-right col-12 col-md-8">
          --------charts will go here ---------
      </div>
  </div><!-- row ending div -->
</mat-card><!-- container ending div -->





