
.position-container {
    margin-top: 20px;
}


.parameters-left {
    /* width: 25%;
    height: 100px; */
    /* background-color: rgba(229, 233, 232, 0.918); */
    /* padding: 1em; */
}

.content-right {
    /* width: 65%;
    height: 100px; */
    background-color: rgba(229, 233, 232, 0.918); 
    /* padding: 1em; */
}

.font-color-red {
    color: rgb(244, 19, 19);
}

.font-color-green {
    color : rgb(30, 184, 30)
}
.green-background {
    background-color: rgba(10, 238, 48, 0.257);
}

.red-background {
    background-color: rgba(238, 10, 10, 0.257);
}

.tenpx-margin-left {
    margin-left: 10px;
}
