
.position-container {
    margin-top: 20px;
}


.parameters-left {
    /* width: 25%;
    height: 100px; */
    /* background-color: rgba(229, 233, 232, 0.918); */
    /* padding: 1em; */
}

.content-right {
    /* width: 65%;
    height: 100px; */
    background-color: rgba(229, 233, 232, 0.918); 
    /* padding: 1em; */
}